.main_dice {
  width: 400px;
  height: 400px;
}
.main_dice:hover {
  transition: 1000ms;

  /* transform: rotateX(200deg); */

  transform: rotate(180deg);
}

h1 {
  font-size: 50px;
  font-weight: 400px;
  /* text-shadow: 1px 1px 2px black, 0 0 1em rgb(82, 78, 78), */
  /* 0 0 0.2em rgb(136, 135, 135); */
}
